a.close-modal {border-bottom:none}
.modal {max-width:1000px}
.modal img {display:block; width:100%; max-width:940px;}

.fa-solid span.link-label{font-weight:400; padding-left:0.5em; text-decoration:underline}
li.fa-solid span.list-label{font-weight:400}

#header > header {margin-top:4em}

#header > nav.toc ul li a {text-align:left; padding-left:3em}
	#header > footer .icons li a {
					color: #FFFFFF;
					text-decoration: none;
  display: inline-block;
  margin: 0 0 1.6875em 0;
  padding: 0.7em 0 0 3.5em;
  position: relative;
  vertical-align: top;
  width: 48%;
				}
				#header > footer .icons li a::before {
  border-radius: 100%;
  color: #ffffff;
  display: block;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;}
	#header > footer .icons li a span {display:inline-block; font-weight:400}
	
	#header > header {margin-top:6em}
nav h2.toc {text-align:left; font-size:1.5em; padding:0 0 0.5em 2em;}


#main > section.first-section > .container {padding: 0 0 4em 0;}

header.major {margin: 0;
  max-width: calc(100% - 4.5em);
  width: 68em;
}

header.major.case-study {margin: 6em auto 0 auto;
}


header.major.case-study h2 {font-size:1.75em; margin-top:1.5em}
header.major.case-study p {clear:both; width: 45em;
  max-width: calc(100% - 1em); color:rgb(136, 136, 136)}
header.major.case-study h2 + p	{max-width: calc(100% - 4.5em); width: 45em; font-size:1em; font-weight:400;}
nav.case-study {display:block; margin:0 0 1em 0; text-align: left;
  padding-left: 3em;}
nav.toc {margin-top:6em}
.video-container {background-color:rgb(255, 255, 255)}


.features {align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  position: relative;}
  
.features article {
	border:none;
	align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
    margin-bottom:0;
}
.features article .box.inner {border-radius:24px; background-color:#F5F4F8;   flex: 1 0 0px;
  height: auto;
  position: relative;
  width: 1px;
  margin-bottom:0;
  display:block;
}

.features article a.box.inner:hover {background-color:rgb(225, 224, 228); color:rgb(24, 24, 27);}


.features article h4 {color:rgb(24, 24, 27)}

div.outcome h4 {color:#4acaa8}

.features article .box.inner img.image {width:98%; margin:0 auto; padding-right:0}

.features article .box.inner > img.image {transition: width 0.5s ease;}
.features article .box.inner:hover > img.image {
	width:100%;
	transition: width 0.5s ease;}

.company-info {border:none;
	align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: left;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
    margin-bottom:0.5em;}
	
.logo-box {
	background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0.602187px 0.843062px -1.41667px, rgba(0, 0, 0, 0.248) 0px 2.28853px 3.20395px -2.83333px, rgba(0, 0, 0, 0.054) 0px 10px 14px -4.25px;
  opacity: 1;
  padding:0.2em;
}

.company-name {
	color:rgb(24, 24, 27)
	
}

.tag {
		border-radius: 999px;
		border: solid 1px rgb(134, 136, 144);
		padding: 0.1em 0.4em;
		color:rgb(134, 136, 144);
		display:block;
		float:left;
		margin:0 10px 1em 0;
	}
	
.features article a.box.inner:hover > span.tag {color:rgb(134, 136, 144)}
